body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%); /* Comienza fuera de la pantalla hacia arriba */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Se mueve a la posición original */
        opacity: 1;
    }
}

.header {
    margin-bottom: 1px; /* Reducido para subir el header debajo del nav */
    text-align: center;
    background-color: #FFC107; /* Amarillo */
    padding: 20px;
    border-radius: 5px;
    animation: slideIn 1s ease-out; /* Animación añadida */
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
}

.resaltar {
    color: #333;
}

.subtitulo {
    font-size: 1.2rem;
    margin-top: 10px;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px; /* Reducido para subir las tarjetas */
    margin-bottom: 60px; /* Agregado espacio extra para que no esté pegado al footer */
}

.tarjeta {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.contenido {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

.contenido h2 {
    font-size: 1.5rem;
    color: #FFC107; /* Amarillo */
    margin-bottom: 10px;
}

.contenido p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.boton1, .boton3, .boton {
    background-color: #FFC107; /* Amarillo */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px; /* Alineación de los botones */
}

.boton:hover {
    background-color: #ffb300;
}


#correo{
    width: 95%; /* Asegura que el input de teléfono ocupe todo el ancho disponible */
    height: 45px; /* Ajusta la altura del input */
    padding: 10px; /* Espaciado interno para que el texto no esté pegado a los bordes */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil de color gris */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan dentro del ancho y alto */
    margin-bottom: 15px; /* Separación entre los campos */
  }
  #peso{
    width: 95%; /* Asegura que el input de teléfono ocupe todo el ancho disponible */
    height: 45px; /* Ajusta la altura del input */
    padding: 10px; /* Espaciado interno para que el texto no esté pegado a los bordes */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil de color gris */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan dentro del ancho y alto */
    margin-bottom: 15px; /* Separación entre los campos */
  
  }
  #altura{
    width: 95%; /* Asegura que el input de teléfono ocupe todo el ancho disponible */
    height: 45px; /* Ajusta la altura del input */
    padding: 10px; /* Espaciado interno para que el texto no esté pegado a los bordes */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil de color gris */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan dentro del ancho y alto */
    margin-bottom: 15px; /* Separación entre los campos */
  }
  #fecha_registro{
    width: 95%; /* Asegura que el input de teléfono ocupe todo el ancho disponible */
    height: 45px; /* Ajusta la altura del input */
    padding: 10px; /* Espaciado interno para que el texto no esté pegado a los bordes */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil de color gris */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan dentro del ancho y alto */
    margin-bottom: 15px; /* Separación entre los campos */
  }