body {
    font-family: 'Roboto', sans-serif; /* Cambiar a una fuente más elegante */
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* Fondo más sutil y elegante */
    color: #333; /* Color de texto más suave */
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #ff9800;
}

.add-task-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.add-task-container input {
    padding: 12px;
    width: 300px;
    border: 2px solid #ff9800;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.add-task-container input:focus {
    border-color: #e68900;
}

.add-task-container button {
    padding: 12px;
    background-color: #ff9800;
    border: 2px solid #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.add-task-container button:hover {
    background-color: #e68900;
    transform: scale(1.05);
}

.add-task-container button::before,
.clear-tasks-container button::before {
    content: '➕'; /* Icono de agregar */
    margin-right: 5px;
}

.clear-tasks-container button::before {
    content: '🗑️'; /* Icono de limpiar */
}

.add-task-container button.loading::before {
    content: '⏳'; /* Icono de carga */
    animation: spin 1s linear infinite;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 60px;
}

.column {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.column:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

h4 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #ff9800;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task {
    background-color: #f0f0f0;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    animation: fadeIn 0.5s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.task:hover {
    background-color: #e0e0e0;
    transform: translateX(5px);
}

.task.hide {
    display: none;
}

.task.dragging {
    opacity: 0.5;
    background-color: #e0e0e0;
}

.task.removing {
    animation: fadeOut 0.5s;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

nav {
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
    width: 100%;
    font-size: 14px;
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.2);
    margin-top: auto;
}

.clear-tasks-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.clear-tasks-container button {
    padding: 12px;
    background-color: #ff9800;
    border: 2px solid #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.clear-tasks-container button:hover {
    background-color: #e68900;
    transform: scale(1.05);
}

.total-task-counter {
    font-size: 16px;
    color: #ff9800;
    margin-top: 10px;
    text-align: center;
}

/* Estilos para el modal */
.modall {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modall-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.modall-content button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.modall-content .confirm {
    background-color: #ff9800;
    color: white;
}

.modall-content .confirm:hover {
    background-color: #e68900;
    transform: scale(1.05);
}

.modal-content .cancel {
    background-color: #444;
    color: white;
}

.modall-content .cancel:hover {
    background-color: #555;
    transform: scale(1.05);
}


#correo{
    width: 95%; /* Asegura que el input de teléfono ocupe todo el ancho disponible */
    height: 45px; /* Ajusta la altura del input */
    padding: 10px; /* Espaciado interno para que el texto no esté pegado a los bordes */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil de color gris */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan dentro del ancho y alto */
    margin-bottom: 15px; /* Separación entre los campos */
}
#peso{
    width: 95%; /* Asegura que el input de teléfono ocupe todo el ancho disponible */
    height: 45px; /* Ajusta la altura del input */
    padding: 10px; /* Espaciado interno para que el texto no esté pegado a los bordes */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil de color gris */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan dentro del ancho y alto */
    margin-bottom: 15px; /* Separación entre los campos */

}
#altura{
    width: 95%; /* Asegura que el input de teléfono ocupe todo el ancho disponible */
    height: 45px; /* Ajusta la altura del input */
    padding: 10px; /* Espaciado interno para que el texto no esté pegado a los bordes */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil de color gris */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan dentro del ancho y alto */
    margin-bottom: 15px; /* Separación entre los campos */
}
#fecha_registro{
    width: 95%; /* Asegura que el input de teléfono ocupe todo el ancho disponible */
    height: 45px; /* Ajusta la altura del input */
    padding: 10px; /* Espaciado interno para que el texto no esté pegado a los bordes */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde sutil de color gris */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan dentro del ancho y alto */
    margin-bottom: 15px; /* Separación entre los campos */
}
/* Estilos para la sección */
.welcome-section {
    background-color: #333; /* Fondo oscuro para resaltar el texto */
    color: white; /* Color de texto blanco para los elementos de la sección */
    padding: 50px 20px; /* Espaciado alrededor de la sección */
    text-align: center; /* Centrar todo el contenido */
    font-family: 'Arial', sans-serif; /* Familia de fuente general */
    opacity: 0; /* Comienza invisible para la animación */
    animation: fadeIn 2s ease-out forwards, slideUp 2s ease-out forwards; /* Animaciones */
  }
  
  /* Animación de desvanecimiento */
  @keyframes fadeIn {
    0% {
      opacity: 0; /* Comienza invisible */
    }
    100% {
      opacity: 1; /* Se hace visible al final */
    }
  }
  
  /* Animación de deslizamiento desde abajo */
  @keyframes slideUp {
    0% {
      transform: translateY(30px); /* Comienza 30px abajo */
    }
    100% {
      transform: translateY(0); /* Se mueve a su posición original */
    }
  }
  
  /* Estilos para el h1 */
  .welcome-section h1 {
    font-size: 40px; /* Tamaño de texto grande */
    font-weight: bold; /* Negrita para el encabezado */
    margin-bottom: 20px; /* Separación hacia abajo */
    color: white; /* Color blanco para el h1 */
    opacity: 0; /* Comienza invisible */
    animation: fadeIn 2s ease-out 0.5s forwards, slideUp 2s ease-out 0.5s forwards; /* Animación */
  }
  
  /* Estilos para el span */
  .welcome-section h1 span {
    color: #ffe600; /* Color naranja para el texto dentro del span */
    font-size: 40px; /* Mismo tamaño de letra que el h1 */
    font-weight: bold; /* Negrita para resaltar */
  }
  
  /* Estilos para el p */
  .welcome-section p {
    font-size: 25px; /* Tamaño de fuente moderado */
    font-family: 'Roboto', sans-serif; /* Fuente más elegante y moderna */
    color: #ccc; /* Color gris claro para el párrafo */
    line-height: 1.6; /* Espaciado entre líneas para mayor legibilidad */
    margin-bottom: 30px; /* Separación hacia abajo */
    opacity: 0; /* Comienza invisible */
    animation: fadeIn 2s ease-out 1s forwards, slideUp 2s ease-out 1s forwards; /* Animación */
  }
  #openProfile:hover {
    background-color: #ffe600; /* Fondo naranja brillante al pasar el cursor */
    color: #333; /* Color de texto oscuro al pasar el cursor */
    border-color: #ff6600; /* Borde naranja al pasar el cursor */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño del botón */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  /* Estilos para el botón */
  #openProfile {
    background-color: transparent; /* Fondo transparente */
    color: #fff; /* Color de texto blanco */
    border: 2px solid #fff; /* Borde blanco */
    padding: 12px 30px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño de texto */
    border-radius: 50px; /* Bordes redondeados */
    text-transform: uppercase; /* Texto en mayúsculas */
    font-weight: bold; /* Negrita para el texto */
    cursor: pointer; /* Cambio de cursor cuando pasa sobre el botón */
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
    opacity: 0; /* Comienza invisible */
    animation: fadeIn 2s ease-out 1.5s forwards, slideUp 2s ease-out 1.5s forwards; /* Animación */
  }
  
  #openProfile:focus {
    outline: none; /* Quitar el contorno del botón cuando está en foco */
  }