/* Navbar con efecto sombra */
.navbar {
    background: linear-gradient(to right, #000, #333);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .brand-highlight {
    color: white;
  }

  .fit-text {
    color: yellow;
    font-weight: bold;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  .navbar-nav .nav-link {
    color: white !important;
    font-size: 1.1rem;
    transition: 0.3s;
  }

  .navbar-nav .nav-link:hover {
    color: yellow !important;
  }
  .welcome-section {
    background: linear-gradient(to right, #000, #333);
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
  }
  
  .welcome-section h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .welcome-section span {
    color: #f4c10f; /* Resalta 'CALORIFIT' en amarillo dorado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Efecto de sombra para destacar */
    font-size: 30px;
  }
/*tarjeta 1*/
.tarjeta {
    width: 300px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    margin-left: 200px;
    margin-top: 250px;
}

.tarjeta:hover {
    transform: scale(1.05);
    background:  rgb(255, 217, 0);
}

.tarjeta img {
    width: 100%;
    height: auto;
}
.tarjeta img:hover{
    filter: brightness(80%);
}

.tarjeta .contenido {
    padding: 15px;
}

.tarjeta .titulo {
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tarjeta .descripcion {
    color: #000000;
    margin-bottom: 10;
    margin-left: 10px;
}
.contenedor {
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
    margin-top: 10px;
}

.boton:hover {
    padding: 5px 15px;
    background-color: rgb(19, 19, 19);
    color: rgb(243, 243, 243);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton {
    padding: 5px 15px;
    background-color: rgb(255, 251, 1);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boton:hover {
    animation: animacion 2s infinite;
}

@keyframes animacion {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/*tarajeta 2*/
.tarjeta2 {
    width: 300px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    margin-left: 600px;
    margin-top: -380px;
}

.tarjeta2:hover {
    transform: scale(1.05);
    background: rgb(255, 217, 0);
}

.tarjeta2 img {
    width: 100%;
    height: auto;
}
.tarjeta2 img:hover{
    filter: brightness(80%);
}

.tarjeta2 .contenido2 {
    padding: 15px;
}

.tarjeta2 .titulo2 {
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-left: 70px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.tarjeta2 .descripcion2 {
    color: #000000;
    margin-bottom: 10;
    margin-left: 10px;
}
.contenedor2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
    margin-top: 10px;
}

.boton2:hover {
    padding: 5px 15px;
    background-color: rgb(250, 225, 0);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton2 {
    padding: 5px 15px;
    background-color: rgb(255, 251, 1);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boton2:hover {
    animation: animacion 2s infinite;
}

@keyframes animacion {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/*tarjeta 3*/
.tarjeta3 {
    width: 300px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    margin-left: 970px;
    margin-top: -380px;
}

.tarjeta3:hover {
    transform: scale(1.05);
    background: rgb(255, 217, 0);
}

.tarjeta3 img {
    width: 100%;
    height: auto;
}
.tarjeta3 img:hover{
    filter: brightness(80%);
}

.tarjeta3 .contenido3 {
    padding: 15px;
}

.tarjeta3 .titulo3 {
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-left: 70px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.tarjeta3 .descripcion3 {
    color: #000000;
    margin-bottom: 10;
    margin-left: 10px;
}
.contenedor3 {
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
    margin-top: 10px;
}

.boton3:hover {
    padding: 5px 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton3 {
    padding: 5px 15px;
    background-color: rgb(255, 251, 4);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boton3:hover {
    animation: animacion 2s infinite;
}

@keyframes animacion {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/*tutulos*/
.titulo4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin-left: 180px;
    position: absolute;
    margin-top: 75px;
    font-size: 40px;
    color: rgb(255, 217, 0);
}

.titulo1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin-left: 780px;
    position: absolute;
    margin-top: 75px;
    font-size: 40px;
    color: rgb(255, 217, 0);
}
.com{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin-left: 385px;
    position: absolute;
    margin-top: 75px;
    font-size: 40px;
}
.ti{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin-left: 1080px;
    position: absolute;
    margin-top: 75px;
    font-size: 40px;
}
.ti2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin-left: 650px;
    position: absolute;
    margin-top: 120px;
    font-size: 40px;
}
.ti3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin-left: 460px;
    position: absolute;
    margin-top: 170px;
    font-size: 20px;
}
/* Footer styles */
.gym-footer {
    background: #111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  
  .gym-footer .footer-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f4c10f;
  }
  
  .gym-footer .footer-content p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #bbb;
  }
  
  .gym-footer .socials {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
  }
  
  .gym-footer .socials li {
    display: inline-block;
  }
  
  .gym-footer .socials img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .gym-footer .socials img:hover {
    transform: scale(1.2);
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
  }
  .gym-footer {
    margin-top: 80px; /* Espacio encima del footer */
}
