body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.titulo {
    font-size: 2.5rem;
    margin: 0;
}

.subtitulo {
    font-size: 1.2rem;
    margin-top: 10px;
}

.contenedor-ejercicios {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista-ejercicios {
    list-style: none;
    padding: 0;
}

.ejercicio {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.ejercicio h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #333;
}

.ejercicio p {
    margin: 5px 0;
    color: #666;
}

.acciones {
    margin: 20px auto;
}

.boton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #45a049;
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  0% {
    opacity: 0; /* Comienza invisible */
  }
  100% {
    opacity: 1; /* Se hace visible al final */
  }
}

/* Animación de deslizamiento desde abajo */
@keyframes slideUp {
  0% {
    transform: translateY(30px); /* Comienza 30px abajo */
  }
  100% {
    transform: translateY(0); /* Se mueve a su posición original */
  }
}

/* Estilos para el h1 */
.welcome-section h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.welcome-section h1 span {
    color: #ffe600;
    font-size: 40px;
    font-weight: bold;
}

.welcome-section p {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 30px;
}

.welcome-section {
    background: linear-gradient(to right, #000, #2e2b2b);
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
